@charset "UTF-8";

.join-back {
	height: 100%;
	background-color: #627388;
}

.join-box-sort {
	display: flex;
	justify-content: center;
}

.join-box {
	background-color: #fff;
	border-radius: 10px;
	max-width: 570px;
	height: 768px;
	margin-top: 80px;
}

.join-title {
	display: flex;
	justify-content: center;
	padding-top: 10px;
}

.form-group-box {
	padding: 10px 40px;
}

.input-box {
	margin-bottom: 70px;
}
